// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Color
// - Base
// - Brand
// - General
//   > Gray
// - Specific
// - Gray
// - Alpha
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

// Base
// ============================================================
$color-black: #111111;
$color-white: #FFFFFF;

// Brand
// ============================================================
$color-primary-1: #3C4385;
$color-primary-2: #9EA3A5;

// General
// ============================================================

// Gray (More number is a lighter color)
// ----------------------------------------
$color-gray-1: #333333;
$color-gray-2: #EEEEEE;

// Red (More number is a lighter color)
// ----------------------------------------
$color-red-1: #FF0030
;
// Blue (More number is a lighter color)
// ----------------------------------------
$color-blue-1: #283290;

// Specific
// ============================================================
$color-error: $color-red-1;
$color-placeholder: $color-primary-2;

// Aplha
// ============================================================
$color-white-alpha-1: rgba(255, 255, 255, 0.5);
$color-black-alpha-1: rgba(0, 0, 0, 0.5);
