// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Other
// - Z Index
// - Media query
// - Size
// - Global
// - Mixin
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

// Z Index
// ============================================================
$z-index-1:      1;
$z-index-9:      9;
$z-index-10:     10;
$z-index-11:     11;
$z-index-99:     99;
$z-index-100:    100;
$z-index-101:    101;
$z-index-999:    999;
$z-index-1000:   1000;
$z-index-1001:   1001;
$z-index-9999:   9999;
$z-index-10000:  10000;
$z-index-10001:  10001;

// Media query
// Other breakpoints eg 480px, 600px, 960px, 1600px, 2560px
// ============================================================
$media-query-mobile:            320px;
$media-query-android:           360px;
$media-query-iphone:            375px;
$media-query-iphone-large:      414px;
$media-query-tablet-portrait:   768px;
$media-query-tablet-landscape:  1024px;
$media-query-laptop:            1280px;
$media-query-desktop:           1366px;

// Size
// ============================================================
$site-width: 1366px;
$button-height: 36px;
$button-small-height: 28px;
$button-large-height: 48px;
$input-height: 36px;

// Global
// ============================================================
$global-transition: all 0.3s ease;

// Mixin
// ============================================================
@mixin scrollbar-square-overlay() {
  overflow: overlay;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-gray-1;
    border-radius: 0;
  }

  &::-webkit-scrollbar-thumb:hover{
    background: $color-black;
  }

  &::-webkit-scrollbar-track{
    background: $color-gray-2;
    border-radius: 0;
  }
}
