// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Style Global
// - NuxtLink
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@import '~assets/styleguides/styleguides';

// NuxtLink
// ============================================================
.nuxt-link-block {
  display: block;
}

.nuxt-link-inlineblock {
  display: inline-block;
  vertical-align: middle;
}
